.side-bar-container {
    width: 60px;
    background: #1D3D57 0% 0% no-repeat padding-box;
    display: inline-block;
    z-index: 1;
    height: 750px;
    opacity: 1!important;
    flex: 0 0 auto;
    height: -webkit-fill-available;
}

@media (min-width: 768px) {
    .d-md-block {
        display: block !important;
    }
}


.item-menu-txt {
    color: #64646e;
    font-family: robotoCondensedregular;
    font-size: 11px;
    letter-spacing: .46px;
    line-height: 15px;
}

.selected {
    background-color: #AAAAAA;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 8px; 
  }
  .selected .icon-size {
    width: calc(100% - 0px); 
  }
  