<div style="width:60px;background: #1D3D57 0% 0% no-repeat padding-box;align-items: center;text-align:center;">
  <img class="mt-2" src="../../../assets/images/Group 66342.png">
</div>
<div class="side-bar-container d-none d-md-block pt-4">
  <div class="text-center">
    <a  class="linkHov ng-star-inserted" routerlinkactive="" [routerLink]="['/dashboard']">
      <div class="text-center sidebar-menu-item">
        <div class="ng-star-inserted">
          <img class="icon-size" src="../../../assets/images/side-menu-dashboard.png">
        </div>
        <div class="item-menu-txt">Dashboard</div>
      </div>
    </a>
  </div>
  <div class="text-center" style="height: 80px;">
    <a  class="linkHov ng-star-inserted" routerlinkactive="" [routerLink]="['/report']">
      <div class="text-center sidebar-menu-item">
        <div class="ng-star-inserted">
          <img class="icon-size" src="../../../assets/images/side-menu-reports.png">
        </div>
        <div class="item-menu-txt">Report</div>
      </div>
    </a>
  </div>
</div>    
