.side-bar-container {
    position: relative;
    width: 60px;
    background: #1D3D57 0% 0% no-repeat padding-box;
    display: inline-block;
    /* border: 1px solid rgba(179,231,255,.33); */
    /* background-color: #fff; */
    z-index: 1;
    height: 100%;
    opacity: 1!important;
    flex: 0 0 auto;
}

@media (min-width: 768px) {
    .d-md-block {
        display: block !important;
    }
}


.item-menu-txt {
    color: #64646e;
    font-family: robotoCondensedregular;
    font-size: 11px;
    letter-spacing: .46px;
    line-height: 15px;
}



