<!-- <div class="container-fluid bg-dark">
  <div class="row flex-nowrap">
      <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 ">
          <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
              <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">

                <li class="nav-item">
                  <div class="side-bar-container d-none d-md-block">
                    <div class="text-center" style="height: 80px;">
                      <a  class="linkHov ng-star-inserted" routerlinkactive="" href="/home">
                        <div class="text-center sidebar-menu-item">
                          <div class="ng-star-inserted">
                            <img class="icon-size" src="assets/icon/side-menu-dashboard.png">
                          </div>
                          <div class="item-menu-txt">Dashboard</div>
                        </div>
                      </a>
                    </div>
                    <div class="text-center" style="height: 80px;">
                      <a  class="linkHov ng-star-inserted" routerlinkactive="" href="/home">
                        <div class="text-center sidebar-menu-item">
                          <div class="ng-star-inserted">
                            <img class="icon-size" src="assets/icon/side-menu-dashboard.png">
                          </div>
                          <div class="item-menu-txt">Report</div>
                        </div>
                      </a>
                    </div>
                  </div>
                  
                  
             <a routerLink="/dashboard" routerLinkActive="active">
                    <i class="fs-4 bi-house"></i>
                    <span>Dashboard </span>
                  </a>
                </li>
                <li class="nav-item">
                  <a routerLink="/report" routerLinkActive="active">
                    <i class="fs-4 bi-speedometer2"></i>
                    <span>Reports </span>
                  </a>
                </li>
                                       
              </ul>
              <hr>
          
          </div>
      </div>
     
  </div>
</div> -->
<!-- <div class="container-fluid "> -->
  <!-- <div class="row flex-nowrap">
      <div class="col-auto col-md-3 col-xl-2  px-0 ">
          <div class="d-flex flex-column align-items-center align-items-sm-start pt-2 text-white min-vh-100"> -->
<div class="side-bar-container d-none d-md-block">
  <div class="text-center" style="height: 80px;">
    <a  class="linkHov ng-star-inserted" routerlinkactive="" [routerLink]="['/dashboard']">
      <div class="text-center sidebar-menu-item">
        <div class="ng-star-inserted">
          <img class="icon-size" src="../../../assets/images/side-menu-dashboard.png">
        </div>
        <div class="item-menu-txt">Dashboard</div>
      </div>
    </a>
  </div>
  <div class="text-center" style="height: 80px;">
    <a  class="linkHov ng-star-inserted" routerlinkactive="" [routerLink]="['/report']">
      <div class="text-center sidebar-menu-item">
        <div class="ng-star-inserted">
          <img class="icon-size" src="../../../assets/images/side-menu-reports.png">
        </div>
        <div class="item-menu-txt">Report</div>
      </div>
    </a>
  </div>
</div>    
<!-- </div> -->
<!-- </div>
</div>
</div> -->
