
.with-icon {
  background-image:url('../../../assets/images/downward-arrow.png') ;
  background-repeat: no-repeat;
  background-position: right 5% bottom 50%;;
  background-size: 20px;
  padding-right: 25 px;
}

.input-field {
  width: 100%;
  padding: 10px;
  text-align: center;
}

nav.primary-navigation {
  margin: 0 auto;
  display: flex;
  /* padding: 2vh 0 0 0; */
  text-align: center;
  background-color: #ffffff;
  border-bottom: 1px solid rgb(187, 186, 186);
  box-shadow: 0px 0px 20px #3ca0e7 !important;
}

nav.primary-navigation ul li {
  list-style: none;
  margin: 0 auto;
  /* border-left: 2px solid #3ca0e7; */
  display: inline-block;
  padding: 20px 0 ;
  position: relative;
  text-decoration: none;
  text-align: center;
  /* font-family: arvo; */
  z-index: 1000;
  /* font: normal normal 18px Montserrat; */
  /* letter-spacing: 0px; */
  color: #555454cc;
  opacity: 1;
  height: 30px;
  /* margin-top: 0; */


}

nav.primary-navigation ul li {
  color: rgb(63, 63, 63);
  font: normal normal 18px Montserrat;
  letter-spacing: 0px;
  opacity: 1;
  font-size: 20px;

}


nav.primary-navigation ul li:hover {
  cursor: pointer;
}

nav.primary-navigation ul input {
  /* margin-top:0px ; */
  border: 1px solid rgb(118, 158, 219);
  font-size: 18px;
  font-weight: bold;
  list-style: none;
  margin: 0 auto;
  /* border-left: 2px solid #3ca0e7; */
  display: inline-block;
  padding: 20px ;
  position: relative;
  text-decoration: none;
  text-align: center;
  /* font-family: arvo; */
  z-index: 1000;
  /* font: normal normal 18px Montserrat; */
  /* letter-spacing: 0px; */
  color: #555454cc;
  opacity: 1;
  height: 30px;
}

nav.primary-navigation ul input:hover {
  margin-top:0px ;
  border: 3px solid rgb(118, 158, 219);
}

nav.primary-navigation ul li ul {
  visibility: hidden;
  /* padding: 10px; */
  opacity: 0;
  position: absolute;
  padding-left: 0;
  left: 0;
  display: none;
  background: rgb(255, 255, 255);
  overflow:auto;
  max-height: 400px;
  min-height: fit-content;

}

nav.primary-navigation ul li:hover > ul,
nav.primary-navigation ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  min-width: 250px;
  text-align: left;
  padding-top: 10px;
  box-shadow: 0px 3px 5px -1px #8a8888;
}

nav.primary-navigation ul li ul li {
  clear: both;
  margin-top: 0;
  width: 80%;
  text-align: left;
  margin-bottom: 5px;
  border-style: none;
  font-size: 18px;
  margin-left: 10px;
}

nav.primary-navigation ul li ul li:hover {
  padding-left: 30px;
  border-left: 2px solid #3ca0e7;
  transition: all 0.3s ease;
  color: #3ca0e7 ;
  font-weight: bold;

}

/* a {
  text-decoration: none;
} */

/* a:hover {
  color: #3ca0e7;
} */

ul li ul li {
  transition: all 0.5s ease;
}

ul::-webkit-scrollbar {
  width: 8px;
}

ul::-webkit-scrollbar-thumb {
  background-color: #d4d0d0;
  border-radius: 3px;
}




