
<nav role="navigation" class="primary-navigation">
    <img class="ml-3 mt-0 mr-5" src="../../../assets/images/logo-logo-corner.png" height="50" width="100">
  <ul>
    
     <li id="company">
        <div class="input-icons">
          <input [(ngModel)]="Company" type="text" class="form-control with-icon" placeholder="Select Company" (input)="onSearch($event.target.value)">
        </div>
        
      <ul id="companylist" class="dropdown">
        <span *ngIf="showCompanyList">
            <li *ngFor="let option of companyItems" (click)="onChangeCompany(option.Name)">{{ option.Name }}</li>
        </span>
        <span *ngIf="!showCompanyList">
            <li>No Company Found</li>
        </span>
    </ul>
    </li>
  </ul>

  <ul *ngIf="Company!=''">
    <li id="site">
        <input [(ngModel)]="Site" type="text" class="form-control with-icon" placeholder="Select Site" (keyup)="onSearchSite($event.target.value)">

     <ul id="sitelist" class="dropdown">
        <span *ngIf="showSiteList">
            <li *ngFor="let option of listItems" (click)="onChangeSite(option.Name)">{{ option.Name }}</li>
        </span>
        <span *ngIf="!showSiteList">
            <li style="cursor: not-allowed;">No Sites Found</li>
        </span>
     </ul>
   </li>
 </ul>
</nav>