.side-nav-container{
    display: flex; 
    /* height: 100%; */
    position: relative;
}

.header-container{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    background-color:white;
}

.router-container{
    margin-top:70px; 
    flex: 1 1 auto;
}