<div class="container-fluid mt-4">
    <app-header></app-header>
</div>
<div class="m-4">
    <div class="card bg-light" >
        <div class="card-body">
            <div class="row">
                
                <div class="col-3" >
                    <span class="card-title">Department</span>
                    <span class="card-title float-right text-primary">clear all</span>
                        <div class="col-12 dept" >
                        {{selectedSite}}
                        </div>
                </div>
                <div class="col-3">
                    
                </div>
                <div class="col-6">
                    
                </div>
            </div>
          <!-- <h4 class="card-title">Card title</h4>
          <p class="card-text">Some example text. Some example text.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a> -->
        </div>
    </div>
</div>

   
      <!-- <kendo-card width="360px">
        <kendo-card-header class="k-hstack">
          <kendo-avatar
            width="40px"
            height="40px"
            [imageSrc]="thumbnailSrc"
            shape="circle"
          ></kendo-avatar>
          <div>
            <h1 kendoCardTitle>bg_tourism</h1>
            <p kendoCardSubtitle>Bulgaria, Europe</p>
          </div>
        </kendo-card-header>
        <img [src]="cover" kendoCardMedia alt="cover_img" />
        <kendo-card-body>
          <h4>Black Sea, Bulgaria</h4>
          <hr kendoCardSeparator />
          <p>
            The Black Sea is bordered by Ukraine, Romania, Bulgaria, Turkey,
            Georgia, and Russia. It has a positive water balance; that is, a net
            outflow of water 300 km3 per year through the Bosphorus and the
            Dardanelles into the Aegean Sea.
          </p>
        </kendo-card-body>
      </kendo-card> -->