<div *ngIf="selectedSite == ''" class="overlay" >
    <div class="text-div">
      <div>
        <h5 *ngIf="selectedCompany == '' ">Please Select Company</h5>
        <h5 *ngIf="selectedCompany != '' ">Please Select Site</h5>
      </div>
    </div>
</div>
<div class="content">
  <app-spinner *ngIf="loading && selectedSite != '' "></app-spinner>
  <div class="map-unit-div mt-4">
    <div class="row" style="padding-right: 15px;">
        <div class="col-7">
            <app-map></app-map>
        </div>   
        <div class="col-5">
          <div class="row">
            <div class="col-12 unit-counts mt-2" style="height: 50px;">
              <ng-container >
                <div class="row">
                  <div class="col-6 mt-2">
                    <div class="mt-0" >
                      <table class="table table-bordered table-striped">
                        <thead>
                          <tr>
                            <th style="text-align:center;color:#01AE4F; background-color: #FFFFFF;border-left: 1px solid #01AE4F;border-bottom: 1px solid #01AE4F;border-top: 1px solid #01AE4F;border-right: 0px ; border-radius: 5px; opacity: 1;">
                              <div class="online-circle" style="border: 1px solid #01AE4F; display: inline-block; "></div></th>
                            <th style="text-align:center;color:#01AE4F; background-color: #FFFFFF; border-top: 1px solid #01AE4F;border-bottom: 1px solid #01AE4F;border-right: 1px solid #01AE4F;border-left: 0px ; border-radius: 5px; opacity: 1;"> Online Units</th>
                            <th style="background-color:#FFFFFF; border: 1px solid #01AE4F; color:#01AE4F; font-size:15px;text-align:center">{{onlineCount}}</th>
                          </tr>
                        </thead>
                      </table>
                    </div>
                    </div>
                  <div class="vertical-divider"></div>
                  <div class="col-6 mt-2">
                    <div class="mt-0">
                      <table class="table table-bordered table-striped">
                        <thead>
                          <tr>
                            <th style="text-align:center;color:#01AE4F; background-color: #FFFFFF;border-left: 1px solid #8494A2;border-bottom: 1px solid #8494A2;border-top: 1px solid #8494A2;border-right: 0px ; border-radius: 5px; opacity: 1;">
                              <div class="offline-circle" style="border: 1px solid #8494A2; display: inline-block; "></div></th>
                            <th style="text-align:center;color:#8494A2; background-color: #FFFFFF; border-top: 1px solid #8494A2;border-bottom: 1px solid #8494A2;border-right: 1px solid #8494A2;border-left: 0px ; border-radius: 5px; opacity: 1;">Offline Units</th>
                            <th style="background-color:#FFFFFF; border: 1px solid #8494A2; color:#8494A2; font-size:15px;text-align:center">{{offlineCount}}</th>
                          </tr>
                          <!-- <tr>
                            <th style="color:rgb(29, 29, 29);background-color: #FFFFFF;">Offline Units</th>
                            <th style="color:rgb(56, 55, 55);background-color: #FFFFFF;">{{offlineCount}}</th>
                          </tr> -->
                        </thead>
                      </table>
                    </div>
                  </div>
                </div>
              </ng-container>

              <ng-container *ngIf="showFaultCode">
                <div class="custom-spinner">
                  <mat-progress-spinner color="accent" mode="indeterminate" diameter="55"></mat-progress-spinner>
                </div>
              </ng-container>
            </div>
          </div>
          
            <div class="row">
              <div class="col-12 unit-counts mt-2">
                <ng-container *ngIf="!showFaultCode">
                  <div class="row">
                    <div class="col-6 mt-2">
                      <!-- <span style="font-size: 15px; font-weight:bold;">Fault Code By Charger</span> -->
                      <div class="mt-0 table-wrapper" *ngIf="showCharger">
                        <table class="table table-bordered table-striped">
                          <thead>
                            <tr style="background-color: #5484ab;">
                              <th style="color:white;">Fault Code By Charger</th>
                              <th style="color:white;">Count</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let element of faultCodesByCharger">
                              <td>{{element?.Name}}</td>
                              <td>{{element?.Count}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      </div>
                    <div class="vertical-divider"></div>
                    <div class="col-6 mt-2">
                      <!-- <span style="font-size: 15px; font-weight:bold;">Fault Code By Fault Code</span> -->
                      <div class="mt-0 table-wrapper" *ngIf="showFault">
                        <table class="table table-bordered table-striped">
                          <thead>
                            <tr style="background-color: #5484ab;">
                              <th style="color:white;">Fault Code By Fault Code</th>
                              <th style="color:white;">Count</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let element of faultCodes">
                              <td>{{element?.Name}}</td>
                              <td>{{element?.Count}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                     
                    </div>
                  </div>
                </ng-container>

                <ng-container *ngIf="showFaultCode">
                  <div class="custom-spinner">
                    <mat-progress-spinner color="accent" mode="indeterminate" diameter="55"></mat-progress-spinner>
                  </div>
                </ng-container>
                <div *ngIf="!showCharger && !showFault && !showFaultCode"  class="mt-5" style="display:flex; justify-content: center; align-items: center;">
                  <div *ngIf="!showFault" style="font: normal normal 16px Montserrat;
                      letter-spacing: 0px;
                      color: #747171cc;
                      opacity: 1; font-size:16px;font-weight: bold;">Fault data is not available for selected site</div>
                </div>
              </div>
            </div>
        </div>
    </div>
  </div>
  
  <div  class="chart-div mt-4">
    <div class="row">
        <div class="chart-heading col-6 mt-0">
            Power Usage
        </div>
        <div class="col-2 mt-2"></div>
        <div class="col-4 mt-2 pr-5">
          <input type="date" class="custom-dates" [value]="date1" [max]="currentDate" (change)="onChangeDate($event)">
        </div>
    </div>
    <ng-container *ngIf="!showSpinner">
      <kendo-chart style="height: 300px; font-size:14px;">
        <kendo-chart-legend position="top" ></kendo-chart-legend>
        <kendo-chart-tooltip format="{0}" [visible]="true" [shared]="true">
        </kendo-chart-tooltip>
        <kendo-chart-category-axis>
          <kendo-chart-category-axis-item [categories]="categories" [majorGridLines]="{visible: false}" [labels]="{ rotation: 0,font: '14px Montserrat' }"></kendo-chart-category-axis-item>
        </kendo-chart-category-axis>
        <kendo-chart-value-axis>
          <kendo-chart-value-axis-item [name]="'maxKwAxis'" [title]="{ text: 'Max Kw' }" [labels]="{ position: 'start' }"></kendo-chart-value-axis-item>
          <kendo-chart-value-axis-item [name]="'numChargersAxis'" [title]="{text: 'No of Chargers'}" [labels]="{ position: 'end' }" ></kendo-chart-value-axis-item>
        </kendo-chart-value-axis>
        <kendo-chart-series>
          <kendo-chart-series-item [line]="{style:'smooth'}"type="area" [data]="data1" [categoryField]="'category'" [field]="'value1'" name="Max Kw" valueField="'value1'" [axis]="'maxKwAxis'" color="#EA6A47" ></kendo-chart-series-item>
          <kendo-chart-series-item type="bar" [data]="data2" [categoryField]="'category'" [field]="'value2'" name="No of Chargers" valueField="'value2'" [axis]="'numChargersAxis'" color="#0091D5" [gap]="3"></kendo-chart-series-item>
        </kendo-chart-series>
    </kendo-chart>
    </ng-container>
    <ng-container *ngIf="showSpinner">
      <div class="spinner-overlay">
        <mat-progress-spinner color="accent" mode="indeterminate" diameter="90"></mat-progress-spinner>
      </div>
    </ng-container>
  </div>
</div>